body{
    font-family: 'Newsreader', serif;
    background-image: url("imagenes/fondopag2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    color: #609fa1;
}

#Resultado {
    font-size: 20px;
    margin:100px 105px 100px 200px;
           }

.titulo {
    font-size: 20px;
}

.titulo2 {
    font-size: 20px;
}

header {
    margin:105px 115px 70px 115px;
    text-align: center;
}

section {
    width: 50%;
    margin:130px 130px 5px 400px;
    font-family: 'Newsreader', serif;
}
#calcular{
    width: 100px;
    height: 30px;
    margin: 20px 5px 5px 2px;
    background-color: #609fa1;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    text-align: center;;
}
#reiniciar{
    width: 100px;
    height: 30px;
    margin: 70px 5px 5px 200px;
    background-color: #609fa1;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}
#UnidadesdeMedida {
    width: 100px;
    height: 30px;
    margin: 10px 3px 5px 10px;
    background-color: #609fa1;
    border-color: black;
    border-width: 3px;
    text-align: center;
}
#UnidadesdeMedida2 {
    width: 100px;
    height: 30px;
    margin: 20px 3px 5px 10px;
    background-color: #609fa1;
    border-color: black;
    border-width: 3px;
    text-align: center;
}
#BaseT{
    border-color: black;
    border-width: 3px;
}
#AlturaT{
    border-color: black;
    border-width: 3px;
}
#BaseR{
    border-color: black;
    border-width: 3px;
}
#AlturaR{
    border-color: black;
    border-width: 3px;
}
#Radio{
    border-color: black;
    border-width: 3px;
}
#Lado{
    border-color: black;
    border-width: 3px;
}
#Area{
    margin: 0px 0px;
}
#Comenzar{
    font-family: "Book Antiqua";
    font-size: 17px;
    width: 120px;
    height: 40px;
    margin: 10px 10px 5px 5px;
    background-color: #609fa1;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}
#area_triangulo{
    display: none;
}
#area_circulo{
    display: none;
}
#area_cuadrado{
    display: none;
}
#area_rectangulo{
    display: none;
}

