body{
    font-family: "Book Antiqua";
    background-image: url("imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
h1 {
    color: #609fa1;
}

#Resultado {
    font-size: 20px;
}

.titulo {
    font-size: 20px;
}

.titulo2 {
    font-size: 20px;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.centrado1 {
    margin-left: auto;
    margin-right: auto;
}

.centrado2 {
    margin-left: auto;
    margin-right: auto;
}

.centrado3 {
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#calcular{
    width: 100px;
    height: 30px;
    margin: 3px 3px 5px 5px;
    background-color: #609fa1;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    text-align: center;;
}
#reiniciar{
    width: 100px;
    height: 30px;
    margin: 3px 3px 5px 5px;
    background-color: #609fa1;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}
#UnidadesdeMedida {
    width: 100px;
    height: 30px;
    margin: 3px 3px 5px 5px;
    background-color: #609fa1;
    border-color: black;
    border-width: 3px;
    text-align: center;
}
#UnidadesdeMedida2 {
    width: 100px;
    height: 30px;
    margin: 3px 3px 5px 5px;
    background-color: #609fa1;
    border-color: black;
    border-width: 3px;
    text-align: center;
}
#Base{
    border-color: black;
    border-width: 3px;
}
#Altura{
    border-color: black;
    border-width: 3px;
}
#Radio{
    border-color: black;
    border-width: 3px;
}
#Area{
    margin: 0px 0px;
}
#Comenzar{
    font-family: "Book Antiqua";
    font-size: 17px;
    width: 120px;
    height: 40px;
    margin: 3px 3px 5px 5px;
    background-color: #609fa1;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

